$experimental-support-for-opera: false
$experimental-support-for-microsoft: false
$experimental-support-for-khtml: false

@import compass

// color principal — hielo = yellow :)
$hielo: rgb(240, 220, 40)

// ancho del cuadro de usuario en la vista de un tema
$user_info_width: 280px

// color del cartel del moderador y colaborador
$mod_post_color: $hielo
$col_post_color: #ccc