@import _base

/* ########### */
/* # Threads # */
/* ########### */

#threadslist
  background: none !important
  border-spacing: 0 !important
  border-collapse: collapse !important

tbody[id^=threadbits_forum]
  
  *
    border: 0 !important
    padding: 0 !important

  td .threadicon
    display: none

  tr.last_postit + tr
    height: 10px !important

  tr.postit + tr.spacer td
    height: 5px !important

  // spacing row
  tr.spacer td
    height: 10px
    padding: 0 !important

  // spacers
  tr:nth-child(odd)

    td
      position: relative
      overflow: hidden
      // fake shadow
      div
        position: absolute
        top: -25px
        left: 20px
        right: 20px
        height: 10px
        z-index: -1
        box-shadow: 0 0 20px 0 black
        +transition(top .2s)

  // thread row
  tr:nth-child(even)
    +transition(transform .2s)

    // each cell
    td
      background: #fff
      padding: 20px 0 !important
      +transition(background-color .3s)

      // start and end of row cells
      &:first-child
        padding: 20px !important
        border-radius: 10px 0 0 10px
      &:last-child
        padding-right: 20px !important
        border-radius: 0 10px 10px 0

      // monospaced font for thread stats (last two cells)
      &:nth-child(6), &:last-child
        font-family: monaco, andale mono, monospace
    
    // on hovering row
    &:hover
      +transform(scale(1.01))
      + tr td div
        top: -14px
      
      // needed that tags show over everything else after it own row
      + tr
        *
          z-index: -1
        + tr *:not(.threadsticon)
          z-index: -1

      // show tags
      td:nth-child(3) div:first-of-type span span.texttags a
        visibility: visible
        opacity: 1 !important
        //+transition(opacity .3s, visibility 0)
        //@for $i from 10 through 1
        //  &:nth-child(#{$i})
        //    +transition(opacity .3s .05s*$i, visibility 0)
        &:nth-child(1)
          +transition(opacity .4s .3s, visibility 0)
        &:nth-child(2)
          +transition(opacity .4s .25s, visibility 0)
        &:nth-child(3)
          +transition(opacity .4s .2s, visibility 0)
        &:nth-child(4)
          +transition(opacity .4s .15s, visibility 0)
        &:nth-child(5)
          +transition(opacity .4s .1s, visibility 0)
        &:nth-child(6)
          +transition(opacity .4s .05s, visibility 0)

    // post-it
    &.postit

      // cells
      td
        padding: 10px 0 !important

        // title cell
        &:nth-child(3)
          font-size: .8rem !important

          // author
          div:nth-of-type(2)
            display: none

          // updvote
          div:nth-of-type(3)
            top: 14px !important

        &:first-child
          padding-left: 20px !important

        // move tags a bit up (there's less space!)
        // title cell
        &:nth-child(3) div:first-of-type span span.texttags
          top: -10px

  // title cell
  td:nth-child(3)
    position: relative
    font: 400 .9rem Open Sans
    
    // title
    div:first-of-type
      position: relative
      
      // tags
      span
        margin-left: 20px

        // TODO: do something (trashcan indicator "thread content some removed post")
        .trashcan
          display: none !important
        
        span.texttags
          position: absolute
          top: 0
          right: 0
          
          text-align: right
          +transform-origin(top, right)
          +transform(rotate(-90deg) translate(12px,-100%))
          +transition(opacity .3s, visibility 0 .3s)
          
          // coma between tags
          span
            display: block
            opacity: 0
            font-size: 0
          
          // tag link
          a
            position: relative
            display: inline-block
            margin: 10px 0
            padding: 5px !important
              right: 16px !important
              left: 7px !important
            border-radius: 5px
            //background: #6FA831
            background: $hielo
            color: darken($hielo,20) !important
            font-family: open sans
            visibility: hidden
            opacity: 0
            +transform-origin(top, right)
            +transform(rotate(45deg) translateX(-10px))

            &:before
              position: absolute
              top: 8px
              right: 7px
              width: 6px
              height: 6px
              z-index: -1
              background: #fff
              border-radius: 50%
              content: ''

            &:hover
              text-decoration: none
              background: #333
              color: #fff !important

    // author
    div:nth-of-type(2)
      margin-top: 10px

      font:
        style: italic

    // updvote
    div:nth-of-type(3)
      top: 30px !important
      left: -38px !important

      img
        max-width: 26px
  
  // posts with lots of activity
  tr:not(.postit) td
    &.warm
      +background(linear-gradient(to right, rgba(white,1) 0%, rgba($hielo,.1) 100%) !important)
      ~ td
        background-color: rgba($hielo,.1) !important
    &.hot
      +background(linear-gradient(to right, rgba(white,1) 0%, rgba($hielo,.4) 100%) !important)
      ~ td
        background-color: rgba($hielo,.4) !important
    &.burn
      +background(linear-gradient(to right, rgba(white,1) 0%, rgba($hielo,1) 100%) !important)
      ~ td
        background-color: rgba($hielo,1) !important

