/* ##################################### */
/* # Fecha y permalinks (post header)  # */
/* ##################################### */

table[id^=post]

  // ocultar separadores de VB
  .smallfont:first-child
    display: none
    + hr
      display: none

  border-right: none !important
  +transition(background .6s ease-out)

  // al seleccionar el post un moderador
  &.mod_selected
    background: rgba(250,230,130,.5) !important

  .post_header

    // fecha
    .date_info
      font-size: 12px
      margin-bottom: 20px
      
      // indicador de post no leído / post nuevo
      .postnew
        position: absolute
        top: 0
        right: 0
        width: 0
        height: 0
        border-top: 60px solid #9ACD32
        border-left: 60px solid transparent
        background: none
      
      // enlaces
      a:link
        background: none !important
      
      // ocultar icono de VB
      .postold
        display: none

    // contenedor de enlaces permalinks
    .post_links
      position: absolute
      top: 0
      right: -80px
      
      // enlaces
      a
        display: inline-block
        text-decoration: none
        
        // enlace hacia permalink (#)
        &:last-of-type
          position: relative
          top: -30px
          left: -15px
          width: 30px
          height: 30px
          line-height: 30px
          text-align: center
          color: #555
          border-radius: 50%
          +transition(background .4s)
          &:hover
            background: $hielo
            +transition(background .4s)

        // enlace hacia post individual
        &:first-of-type
          position: relative
          top: 30px
          display: block
          width: 80px
          text-align: left
          font-size: 1.2rem
          color: #555
          background: none !important
          opacity: .5
          +transition(background .4s !important)

          strong
            padding-left: 10px !important

          &:hover,&:visited
            opacity: 1

            // afectar a permalink cuando :hover
            + a
              +animation(blink 1s infinite)

      // mod input
      // TODO: moverlo más hacia arriba e integrar
      input
        position: relative
        top: 14px
        left: -20px

+keyframes(blink)
  from,to
    background: #eee
  50%
    background: $hielo