/* ################################# */
/* # Contenedor del post y enlaces # */
/* ################################# */

// resetear estilos VB
table[id^=post]
  background: none !important
  td,tr
    border: none !important

td[id^=td_post]
  padding: 0

.row_post_info td
  padding: 0 !important

// celda contenedora del post
.row_post_content td:last-child
  position: relative
  background: #fff !important

// contenedor del post (EL POST)
.post_content
  position: relative
  width: auto !important
  font-family: Open Sans
  font-size: 14px !important
  line-height: 24px
  color: #000
  word-wrap: normal
  padding: 20px 40px 60px

  // todo elemento descendiente
  > *
    line-height: 20px

  // cualquier enlace directo (evitar estilizar otros)
  // está muy feo, no recuerdo porqué
  > a:not(.mention)
    &:link, &:active
      position: relative
      display: inline-block !important
      background: none !important
      color: #000 !important
      border-bottom: 2px solid $hielo
      text-decoration: none !important
      +transition(background .4s)

      // chivato URL
      &:after
        top: -60px
        padding: 5px
        font-size: .6rem
        border-radius: 3px
        background: rgba(black,.7)
        color: #fff !important
        white-space: nowrap
        content: attr(href)
      
      // triángulo chivato
      &:before
        top: -30px
        content: ''
        border-left: 10px solid transparent
        border-right: 10px solid transparent
        border-top: 10px solid rgba(black,.7)

      // chivato y triángulo
      &:after, &:before
        position: absolute
        left: 50%
        opacity: 0
        visibility: hidden
        +transform(translateX(-50%))
        +transition(opacity .3s, top .3s, visibility 0 .3s)

    &:visited
      border-color: #000
      color: #000 !important

      &:after
        color: #fff !important
    
    // mostrar chivato
    &:hover
      
      &:after, &:before
        opacity: 1
        visibility: visible
        +transition(opacity .3s, top .3s, visibility 0)

      &:after
        top: -40px
      &:before
        top: -10px

  > a.mention
    display: inline-block
    padding: 3px 5px
    border-radius: 5px
    color: #333 !important
    background: $hielo !important
    font-weight: 600
    text-decoration: none !important