/* ######### */
/* # Fonts # */
/* ######### */
@font-face {
  font-family: "open sans";
  src: url("chrome-extension://__MSG_@@extension_id__/data/fonts/opensans/regular.ttf") format("truetype"), url("../data/fonts/opensans/regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "open sans";
  src: url("chrome-extension://__MSG_@@extension_id__/data/fonts/opensans/bold.ttf") format("truetype"), url("../data/fonts/opensans/bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "open sans";
  src: url("chrome-extension://__MSG_@@extension_id__/data/fonts/opensans/italic.ttf") format("truetype"), url("../data/fonts/opensans/italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }
strong, b {
  font-weight: 600; }

body {
  position: relative;
  background: #f0f0f0 !important; }
  body:before {
    position: absolute;
    z-index: 999999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: #f0f0f0;
      background-image: url(chrome-extension://__MSG_@@extension_id__/data/images/thatguy.gif);
      background-repeat: no-repeat;
      background-position: center 200px; }
  body.skinned:before {
    z-index: -1;
    background: transparent;
    -moz-transition: background 0.4s ease-out, z-index 0 0.4s;
    -o-transition: background 0.4s ease-out, z-index 0 0.4s;
    -webkit-transition: background 0.4s ease-out, z-index 0;
    -webkit-transition-delay: 0s, 0.4s;
    transition: background 0.4s ease-out, z-index 0 0.4s; }

#user_head > img {
  border-radius: 50%; }

.threadsticon {
  position: relative;
  left: 15px;
  display: block;
  height: 13px !important;
  width: 13px !important;
  border-radius: 50%; }

.tist_dot {
  background: #999999 !important; }

.tist_lock {
  background: crimson !important; }

.tist {
  background: gainsboro !important; }

.tist_moved {
  background: gold !important; }

.tist_new {
  background: forestgreen !important; }

.tist_moved_new {
  background: gold !important;
  -webkit-animation: moved_new 1s infinite forwards; }

.tist_dot_new {
  background: #999999 !important;
  -webkit-animation: dot_new 1s infinite forwards; }

@-webkit-keyframes moved_new {
  from, to {
    background: gold; }

  50% {
    background: #999999; } }
@-webkit-keyframes dot_new {
  from, to {
    background: forestgreen; }

  50% {
    background: #999999; } }
tbody[id^=threadbits_forum] tr td.alt2:nth-child(2) {
  position: relative;
  z-index: -1; }

.thead, .tborder, .alt2.pbit {
  border: none !important; }
