@charset "UTF-8";
.cf:before, .cf:after {
  content: " ";
  display: table; }
.cf:after {
  clear: both; }

#posts {
  padding-left: 0; }

/* ################ */
/* # Thread title # */
/* ################ */
table#thread_header_options {
  position: absolute;
  right: 20px;
  top: 70px;
  border: none !important;
  background: none !important; }
  table#thread_header_options * {
    border: none !important; }
  table#thread_header_options td {
    padding: 0 !important;
    background: none !important; }
    table#thread_header_options td:first-child {
      z-index: 1; }
    table#thread_header_options td a {
      display: block;
      padding: 10px;
      background: #bbbbbb;
      color: #eeeeee;
      font: 400 0.9rem Open Sans;
      text-decoration: none !important;
      text-transform: uppercase;
      -moz-transition: background 0.3s;
      -o-transition: background 0.3s;
      -webkit-transition: background 0.3s;
      transition: background 0.3s; }
      table#thread_header_options td a:hover {
        background: #333333; }
    table#thread_header_options td img {
      display: none; }

#post_title {
  position: relative;
  margin: 20px 0;
  padding: 0 20px 0 265px; }
  #post_title a {
    display: block !important;
    font: 600 2.2rem "open sans", serif !important;
    color: #333333 !important;
    vertical-align: middle; }
    #post_title a:first-child {
      position: absolute;
      top: 5px;
      left: 230px;
      display: block !important;
      padding: 10px;
        padding-left: 15px;
      background: #555555;
      font: 400 0.9rem "open sans" !important;
      color: #eeeeee !important;
      text-transform: uppercase;
      -moz-transition: background 0.3s;
      -o-transition: background 0.3s;
      -webkit-transition: background 0.3s;
      transition: background 0.3s;
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%); }
      #post_title a:first-child:after {
        position: absolute;
        top: 0;
        right: -15px;
        content: "";
        width: 0;
        height: 0;
        border-top: 19px solid transparent;
        border-left: 15px solid #555555;
        border-bottom: 19px solid transparent;
        -moz-transition: border-left-color 0.3s;
        -o-transition: border-left-color 0.3s;
        -webkit-transition: border-left-color 0.3s;
        transition: border-left-color 0.3s; }
      #post_title a:first-child:hover {
        text-decoration: none;
        background: #111111; }
        #post_title a:first-child:hover:after {
          border-left-color: #111111; }

#navbits_finallink_ltr {
  margin: 20px 0 30px !important;
  width: auto !important;
  height: auto !important;
  background: none !important; }

/* ######## BACKGROUND AND BORDER ADJUST */
table[id^=post] {
  background: none !important; }

.row_post_content td:last-child {
  background: white !important; }

.row_post_options td {
  border: 0 !important;
  text-align: center;
  padding: 0; }

.row_post_info td {
  padding: 0 !important; }

td[id^=td_post_] td, td[id^=td_post_] tr {
  border: none !important; }

/* ################################# */
/* # Post-self container and links # */
/* ################################# */
.post_content {
  position: relative;
  width: auto !important;
  font-family: Open Sans;
  font-size: 14px !important;
  line-height: 24px;
  color: black;
  word-wrap: normal;
  padding: 20px 40px 60px; }
  .post_content > * {
    line-height: 20px; }
  .post_content a:link, .post_content a:active {
    display: inline-block !important;
    font-size: 0.8rem !important !important;
    font-weight: 400 !important;
    background-color: #cccccc !important;
    color: black !important;
    border-radius: 4px !important;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    -webkit-transition: background 0.4s;
    transition: background 0.4s;
    padding: 3px 5px !important;
    text-decoration: none !important; }
  .post_content a:visited {
    display: inline-block !important;
    font-size: 0.8rem !important !important;
    font-weight: 400 !important;
    background-color: #cccccc !important;
    color: black !important;
    border-radius: 4px !important;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    -webkit-transition: background 0.4s;
    transition: background 0.4s;
    padding: 3px 5px !important;
    background-color: #eeeeee !important; }
  .post_content a:hover {
    background: #fae682 !important;
    color: black !important; }

/* ###################################### */
/* # Date and permalinks (post header)  # */
/* ###################################### */
table[id^=post] .post_header .date_info {
  float: left;
  font-size: 12px;
  margin-bottom: 20px; }
  table[id^=post] .post_header .date_info .postnew {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 30px solid yellowgreen;
    border-left: 30px solid transparent;
    background: none; }
  table[id^=post] .post_header .date_info a:link {
    background: none !important;
    padding: 0 !important; }
table[id^=post] .post_header .post_links {
  position: relative;
  top: -10px;
  left: 30px;
  float: right; }
  table[id^=post] .post_header .post_links a:last-of-type {
    position: relative;
    top: 15px;
    left: -10px;
    opacity: 0;
    -moz-transition: -moz-transform 0.4s ease-out 2s, background 0.4s, opacity 0.2s 2.2s;
    -o-transition: -o-transform 0.4s ease-out 2s, background 0.4s, opacity 0.2s 2.2s;
    -webkit-transition: -webkit-transform 0.4s ease-out, background 0.4s, opacity 0.2s;
    -webkit-transition-delay: 2s, 0s, 2.2s;
    transition: transform 0.4s ease-out 2s, background 0.4s, opacity 0.2s 2.2s; }
    table[id^=post] .post_header .post_links a:last-of-type:hover {
      opacity: 1;
      -moz-transition: -moz-transform 0.4s ease-out, background 0.4s, opacity 0.2s;
      -o-transition: -o-transform 0.4s ease-out, background 0.4s, opacity 0.2s;
      -webkit-transition: -webkit-transform 0.4s ease-out, background 0.4s, opacity 0.2s;
      transition: transform 0.4s ease-out, background 0.4s, opacity 0.2s; }
  table[id^=post] .post_header .post_links a:first-of-type {
    float: right;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 1.2rem;
    background: none !important;
    border-radius: 50% !important;
    opacity: 0.5;
    -moz-transition: background 0.4s !important;
    -o-transition: background 0.4s !important;
    -webkit-transition: background 0.4s !important;
    transition: background 0.4s !important; }
    table[id^=post] .post_header .post_links a:first-of-type:hover, table[id^=post] .post_header .post_links a:first-of-type:visited {
      opacity: 1;
      background: #eeeeee !important; }
      table[id^=post] .post_header .post_links a:first-of-type:hover + a, table[id^=post] .post_header .post_links a:first-of-type:visited + a {
        opacity: 1;
        -moz-animation: blink 1s infinite;
        -webkit-animation: blink 1s infinite;
        animation: blink 1s infinite;
        -moz-transform: rotate(-180deg) scale(1.5);
        -ms-transform: rotate(-180deg) scale(1.5);
        -webkit-transform: rotate(-180deg) scale(1.5);
        transform: rotate(-180deg) scale(1.5);
        -moz-transition: -moz-transform 0.4s ease-out, background 0.3s, opacity 0.2s;
        -o-transition: -o-transform 0.4s ease-out, background 0.3s, opacity 0.2s;
        -webkit-transition: -webkit-transform 0.4s ease-out, background 0.3s, opacity 0.2s;
        transition: transform 0.4s ease-out, background 0.3s, opacity 0.2s; }
  table[id^=post] .post_header .post_links input {
    position: relative;
    top: 14px;
    left: -20px; }

@-moz-keyframes blink {
  from, to {
    background: #eeeeee; }

  50% {
    background: gold; } }
@-webkit-keyframes blink {
  from, to {
    background: #eeeeee; }

  50% {
    background: gold; } }
@keyframes blink {
  from, to {
    background: #eeeeee; }

  50% {
    background: gold; } }
/* code and inline-code */
pre {
  font-family: monaco !important;
  font-size: 14px !important; }

.post_content code {
  display: inline-block;
  font-family: monaco !important;
  font-size: 12px !important;
  background: white !important;
  border-radius: 4px;
  border: 1px solid #dddddd;
  padding: 4px; }
.post_content .geshibox a:link {
  background-color: transparent !important;
  padding: 0 !important; }
.post_content .geshibox a.tool:link {
  float: right;
  font-size: 0.8rem;
  color: #aaaaaa !important; }

/* post footer */
.row_post_content td:last-child {
  position: relative; }

.post_content ~ div.smallfont {
  /*edited post */
  position: absolute;
  top: -20px;
  right: 0;
  font-size: 10px;
  text-transform: uppercase;
  text-align: right; }
  .post_content ~ div.smallfont hr {
    display: none; }
  .post_content ~ div.smallfont em {
    font-style: normal; }
.post_content + div:not(.smallfont) {
  /* user defined footer */
  margin-bottom: 20px;
  font-size: 12px;
  border-top: 1px solid #cccccc;
  opacity: 0.2;
  transition: opacity 0.5s;
  padding: 0 40px 40px; }
.post_content + div:hover {
  opacity: 1; }

/* ################# */
/* # User profile  # */
/* ################# */
tr.row_post_info td:first-child,
td.user_profile {
  width: 240px !important; }

td.user_profile {
  text-align: right;
  position: relative;
  font-family: open sans;
  padding: 60px 20px 20px;
  /* tags */ }
  td.user_profile.is_modcol {
    border-right: 4px solid #fae682 !important; }
    td.user_profile.is_modcol.is_col {
      border-right: 4px solid #dddddd !important; }
    td.user_profile.is_modcol.is_banned {
      border-right: none !important; }
      td.user_profile.is_modcol.is_banned * {
        opacity: 0.6 !important; }
  td.user_profile .bigusername {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font: 600 1.6rem Open Sans !important; }
  td.user_profile .smallfont {
    font-family: open sans; }
  td.user_profile:not(.is_banned) .smallfont.cartelito_modcol {
    position: relative;
    left: 20px;
    display: inline-block;
    margin-top: 5px;
    border-radius: 5px 0 0 5px;
    color: #333333;
    background: #fae682;
    padding: 8px 20px 8px 10px; }
  td.user_profile .smallfont.user_avatar {
    position: absolute;
    top: 15px;
    right: 0;
    z-index: 1; }
  td.user_profile.is_banned .cartelito_modcol {
    color: firebrick; }
  td.user_profile.is_modcol:not(.is_banned) .smallfont.user_avatar {
    right: -2px;
    /* half of border */ }
  td.user_profile.is_modcol.is_col .cartelito_modcol {
    text-transform: lowercase;
    background: #dddddd; }
  td.user_profile .smallfont.user_avatar a {
    display: block;
    border-radius: 50%;
    overflow: hidden;
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    transform: translateX(50%); }
  td.user_profile .user_info div.tag {
    display: block;
    margin: 5px 0; }
    td.user_profile .user_info div.tag a {
      position: relative;
      display: inline-block;
      padding: 0;
      background: #6fa831;
      color: #c4e0a6 !important;
      text-transform: uppercase;
      font: 400 0.55rem Open Sans !important;
      border-radius: 5px;
      -moz-transition: -moz-transform 0.1s ease-out;
      -o-transition: -o-transform 0.1s ease-out;
      -webkit-transition: -webkit-transform 0.1s ease-out;
      transition: transform 0.1s ease-out; }
      td.user_profile .user_info div.tag a span {
        display: inline-block; }
        td.user_profile .user_info div.tag a span.name {
          padding: 3px;
            padding-left: 5px;
          border-radius: 5px 0 0 5px; }
        td.user_profile .user_info div.tag a span.count {
          padding: 3px;
            padding-right: 4px;
          color: #004d00 !important;
          background: #98bf6d;
          border-radius: 0 5px 5px 0;
          border: 1px solid #6fa831;
            border-border-left: 0; }
      td.user_profile .user_info div.tag a:hover {
        z-index: 9999;
        background: black;
        -moz-transition: -moz-transform 0.2s cubic-bezier(0.1, 0.7, 1, 3), background 0 150ms;
        -o-transition: -o-transform 0.2s cubic-bezier(0.1, 0.7, 1, 3), background 0 150ms;
        -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.1, 0.7, 1, 3), background 0;
        -webkit-transition-delay: 0s, 150ms;
        transition: transform 0.2s cubic-bezier(0.1, 0.7, 1, 3), background 0 150ms;
        -moz-transform: scale(2, 2);
        -ms-transform: scale(2, 2);
        -webkit-transform: scale(2, 2);
        transform: scale(2, 2); }
        td.user_profile .user_info div.tag a:hover span {
          color: #eeeeee !important;
          border-color: black;
          -moz-transition: all 0 150ms;
          -o-transition: all 0 150ms;
          -webkit-transition: all 0;
          -webkit-transition-delay: 150ms;
          transition: all 0 150ms; }
          td.user_profile .user_info div.tag a:hover span.name {
            background: black; }
          td.user_profile .user_info div.tag a:hover span.count {
            background: #555555; }

/* popup */
table[id^=post] + .vbmenu_popup {
  left: 270px !important;
  margin-top: -20px;
  border: none;
  background: #444444;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  table[id^=post] + .vbmenu_popup table {
    border-spacing: 0;
    border-collapse: collapse; }
  table[id^=post] + .vbmenu_popup .vbmenu_option a:link, table[id^=post] + .vbmenu_popup .vbmenu_option a:visited, table[id^=post] + .vbmenu_popup .vbmenu_option a:active {
    display: block !important;
    background: #333333;
    color: #eeeeee;
    font-size: 14px !important;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;
    padding: 10px; }
  table[id^=post] + .vbmenu_popup .vbmenu_hilite a:link, table[id^=post] + .vbmenu_popup .vbmenu_hilite a:visited, table[id^=post] + .vbmenu_popup .vbmenu_hilite a:active {
    display: block !important;
    background: #333333;
    color: #eeeeee;
    font-size: 14px !important;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;
    padding: 10px; }
  table[id^=post] + .vbmenu_popup .vbmenu_option a:hover, table[id^=post] + .vbmenu_popup .vbmenu_hilite a:hover {
    background: #555555; }

/* ############### */
/* # Post quotes # */
/* ############### */
.quote-container {
  width: auto !important;
  margin: 20px 0 !important; }

.quote_text_container {
  position: relative;
  min-height: 50px;
  background: rgba(0, 0, 0, 0.1);
  border: none !important;
  padding: 10px 40px;
  -moz-transition: padding 0.4s;
  -o-transition: padding 0.4s;
  -webkit-transition: padding 0.4s;
  transition: padding 0.4s; }
  .quote_text_container span:first-child {
    display: block;
    margin-top: 15px; }
    .quote_text_container span:first-child strong {
      float: left;
      margin: 0 5px; }
    .quote_text_container span:first-child a {
      position: relative;
      top: -4px;
      left: 20px;
      float: right;
      background: none !important;
      z-index: 2; }
      .quote_text_container span:first-child a:hover {
        text-decoration: underline !important; }
      .quote_text_container span:first-child a:after {
        content: "ver post"; }
      .quote_text_container span:first-child a img {
        display: none; }
  .quote_text_container:before, .quote_text_container:after {
    position: absolute;
    font-size: 7rem;
    font-family: monaco;
    color: #cccccc;
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg); }
  .quote_text_container:before {
    top: 45px;
    left: -15px;
    content: "‘"; }
  .quote_text_container:after {
    bottom: 70px;
    right: -15px;
    content: "‚";
    opacity: 0;
    -moz-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s; }
  .quote_text_container.open {
    padding-bottom: 20px; }
    .quote_text_container.open:after {
      opacity: 1; }
  .quote_text_container .quote-text {
    display: none;
    padding-bottom: 10px;
    line-height: 24px; }

/* ################ */
/* # Post options # */
/* ################ */
.row_post_options td:nth-child(2) a.post_option_link {
  position: relative;
  top: -40px;
  display: inline-block !important;
  width: 80px;
  height: 80px;
  background: white;
  border-radius: 50%;
  border: 2px solid #eeeeee;
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -moz-transition: -moz-transform 0.4s ease-out;
  -o-transition: -o-transform 0.4s ease-out;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out; }
  .row_post_options td:nth-child(2) a.post_option_link:hover {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
    .row_post_options td:nth-child(2) a.post_option_link:hover:after {
      -moz-transform: scale(1.3) rotate(-5deg);
      -ms-transform: scale(1.3) rotate(-5deg);
      -webkit-transform: scale(1.3) rotate(-5deg);
      transform: scale(1.3) rotate(-5deg); }
  .row_post_options td:nth-child(2) a.post_option_link:after {
    content: "";
    position: absolute;
    top: 24px;
    left: 24px;
    width: 32px;
    height: 32px;
    background-size: cover;
    -moz-transition: -moz-transform 0.2s ease-out;
    -o-transition: -o-transform 0.2s ease-out;
    -webkit-transition: -webkit-transform 0.2s ease-out;
    transition: transform 0.2s ease-out; }
  .row_post_options td:nth-child(2) a.post_option_link.edit_post:after {
    background-image: url("chrome-extension://__MSG_@@extension_id__/data/images/edit.png"); }
  .row_post_options td:nth-child(2) a.post_option_link.quote_post:after {
    background-image: url("chrome-extension://__MSG_@@extension_id__/data/images/quote.png"); }
  .row_post_options td:nth-child(2) a.post_option_link.quote_post.multi:after {
    background-image: url("chrome-extension://__MSG_@@extension_id__/data/images/multi.png"); }
  .row_post_options td:nth-child(2) a.post_option_link.quote_post.fast:after {
    background-image: url("chrome-extension://__MSG_@@extension_id__/data/images/quick.png"); }
.row_post_options td:nth-child(2) .love {
  position: relative;
  top: -40px;
  float: none !important;
  display: inline-block !important;
  width: 80px;
  height: 80px;
  margin: 0 !important;
  background: white;
  border-radius: 50%;
  border: 2px solid #eeeeee;
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -moz-transition: -moz-transform 0.4s ease-out;
  -o-transition: -o-transform 0.4s ease-out;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out; }
  .row_post_options td:nth-child(2) .love:hover {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
    .row_post_options td:nth-child(2) .love:hover:after {
      -webkit-filter: grayscale(0);
      -moz-animation: vive 2s linear infinite;
      -webkit-animation: vive 2s linear infinite;
      animation: vive 2s linear infinite; }
  .row_post_options td:nth-child(2) .love:after {
    content: "";
    position: absolute;
    top: 24px;
    left: 24px;
    width: 32px;
    height: 32px;
    background-image: url("chrome-extension://__MSG_@@extension_id__/data/images/love.png");
    background-size: cover;
    -webkit-filter: grayscale(1);
    -moz-transition: -moz-transform 0.2s ease-out, -webkit-filter 0.1s;
    -o-transition: -o-transform 0.2s ease-out, -webkit-filter 0.1s;
    -webkit-transition: -webkit-transform 0.2s ease-out, -webkit-filter 0.1s;
    transition: transform 0.2s ease-out, -webkit-filter 0.1s; }
  .row_post_options td:nth-child(2) .love > div:first-child {
    float: none; }
    .row_post_options td:nth-child(2) .love > div:first-child span, .row_post_options td:nth-child(2) .love > div:first-child a {
      position: absolute;
      display: block;
      width: 100% !important;
      height: 100% !important; }
    .row_post_options td:nth-child(2) .love > div:first-child a {
      z-index: 9; }
  .row_post_options td:nth-child(2) .love > div:last-child span, .row_post_options td:nth-child(2) .love > div:last-child a {
    position: absolute;
    top: 0;
    display: block;
    width: 100% !important;
    height: 100% !important; }
  .row_post_options td:nth-child(2) .love > div:last-child span {
    z-index: 10;
    color: transparent;
    top: 35px;
    right: 21px;
    width: 18px !important;
    height: 18px !important; }
  .row_post_options td:nth-child(2) .love > div:last-child a {
    line-height: 18px;
    text-align: center;
    background: #333333;
    color: #dddddd !important;
    border-radius: 50%;
    border: 3px solid white; }
    .row_post_options td:nth-child(2) .love > div:last-child a:hover {
      background: green; }

@-moz-keyframes vive {
  from, 10%, 20%, 30%, to {
    -moz-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3); }

  15%, 25% {
    -moz-transform: scale(1.6, 1.6);
    transform: scale(1.6, 1.6); } }
@-webkit-keyframes vive {
  from, 10%, 20%, 30%, to {
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3); }

  15%, 25% {
    -webkit-transform: scale(1.6, 1.6);
    transform: scale(1.6, 1.6); } }
@keyframes vive {
  from, 10%, 20%, 30%, to {
    -moz-transform: scale(1.3, 1.3);
    -ms-transform: scale(1.3, 1.3);
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3); }

  15%, 25% {
    -moz-transform: scale(1.6, 1.6);
    -ms-transform: scale(1.6, 1.6);
    -webkit-transform: scale(1.6, 1.6);
    transform: scale(1.6, 1.6); } }
@-moz-document url-prefix() {
  .row_post_options td:nth-child(2) a.post_option_link.edit_post:after {
    background-image: url(../images/edit.png); }
  .row_post_options td:nth-child(2) a.post_option_link.quote_post:after {
    background-image: url(../images/quote.png); }
  .row_post_options td:nth-child(2) a.post_option_link.quote_post.multi:after {
    background-image: url(../images/multi.png); }
  .row_post_options td:nth-child(2) a.post_option_link.quote_post.fast:after {
    background-image: url(../images/quick.png); }
  .row_post_options td:nth-child(2) a.post_option_link .love:after {
    background-image: url(../images/quick.png); } }
td[id^=td_post] {
  border-right: none !important;
  -moz-transition: background 0.6s ease-out;
  -o-transition: background 0.6s ease-out;
  -webkit-transition: background 0.6s ease-out;
  transition: background 0.6s ease-out; }
  td[id^=td_post].mod_selected {
    background: rgba(250, 230, 130, 0.5) !important; }

.row_post_info td.thead .postold, .post_content .date_info .postold {
  display: none; }

.row_post_content td[id^=td_post] .smallfont:first-child {
  display: none; }
  .row_post_content td[id^=td_post] .smallfont:first-child + hr {
    display: none; }

table[id^=post] + .vbmenu_popup table tr:first-child {
  display: none; }

.row_post_options td:nth-child(2) a.edit_post img, .row_post_options td:nth-child(2) a.quote_post img {
  display: none; }
.row_post_options .love > div:first-child span a img {
  display: none; }

.row_post_info td:first-child, .row_post_info td:last-child {
  background-color: none !important; }

.row_post_content td:first-child {
  background-color: none !important; }

.row_post_options td:first-child, .row_post_options td:last-child {
  background-color: none !important; }

.row_post_content td[id^=td_post_], table[id^=post] + .vbmenu_popup table td {
  padding: 0; }
